.row.prepend-top-default.append-bottom-default
  .col-lg-4
    %h4.prepend-top-0
      = @service.title
      - [true, false].each do |value|
        - hide_class = 'd-none' if @service.activated? != value
        %span.js-service-active-status{ class: hide_class, data: { value: value.to_s } }
          = boolean_to_icon value

    - if @service.respond_to?(:detailed_description)
      %p= @service.detailed_description
  .col-lg-8
    = form_for(@service, as: :service, url: scoped_integration_path(@service), method: :put, html: { class: 'gl-show-field-errors integration-settings-form js-integration-settings-form', data: { 'can-test' => @service.can_test?, 'test-url' => test_project_service_path(@project, @service) } }) do |form|
      = render 'shared/service_settings', form: form, service: @service
      .footer-block.row-content-block
        = service_save_button
        &nbsp;
        = link_to _('Cancel'), project_settings_integrations_path(@project), class: 'btn btn-cancel'

- if lookup_context.template_exists?('show', "projects/services/#{@service.to_param}", true)
  %hr
  = render "projects/services/#{@service.to_param}/show"
